<section>
  <header>
    <h1>{{tableName}}</h1>
    <a href="#" [ngClass]="{ 'active': editTable }" (click)="editTableContent($event)">🎹</a> 
    <a href="#" [ngClass]="{ 'active': editTableFieldsBool }" (click)="editTableFields($event)">🎸</a> 
    <a href="#" [ngClass]="{ 'active': showTableCreate }" (click)="showCreate($event, tableName)">🎷</a> 
    <a href="#" [ngClass]="{ 'active': showTableIndex }" (click)="showIndex($event, tableName)">🎺</a> 
  </header>
  <app-tables-table-indexes *ngIf="showTableIndex" [tableIndex]="tableIndex"></app-tables-table-indexes>
  <section class="tableCreation" *ngIf="showTableCreate">
    <header>
      <h1>Taulun luonti</h1>
    </header>
    <code><pre>{{tableCreation}}</pre></code>
  </section>
  <app-tables-table-fields *ngIf="editTableFieldsBool" [tableName]="tableName" [tableDescriptions]="tableDescriptions"></app-tables-table-fields>
  <footer>
    <app-table *ngIf="editTable" [tableName]="tableName"></app-table>
  </footer>
</section>
