section {
    display: block;
    float: left;
    padding: 10px;
    border: 1px solid dodgerblue;
    box-sizing: border-box;
    margin: 0 0 1% 0;
    @media (min-device-width: 1px) and (max-device-width: 319px) {
        width: 100%;
    }
    @media (min-device-width: 320px) and (max-device-width: 480px) {
        width: 100%;
    }
    @media (min-device-width: 481px) and (max-device-width: 640px)  {
        width: 50%;
    }
    @media (min-device-width: 641px) and (max-device-width: 768px) and (orientation: portrait) {
        width: 50%;
    }
    @media (min-device-width: 641px) and (max-device-width: 768px) and (orientation: landscape) {
        width: 50%;
    }
    @media (min-device-width: 769px) and (max-device-width: 1200px) {
        width: 20%;
    }
    @media (min-device-width: 1201px) and (max-device-width: 1400px) {
        width: 15%;
    }
    header {
        h1 {
            font-size: 20px;
            margin:10px 0;
            padding: 5px 0 10px;
            text-align: right;
            border-bottom: 1px solid dodgerblue;
        }
        a {
            display: block;
            float: right;
            width: 30px;
            height: 30px;
            margin: 0 2px 0 0;
            border: 1px solid darkcyan;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
            color: white;
            background: dodgerblue;
            &:hover {
                background: darkgreen;
            }
            &.active {
                background: darkcyan;
            }
        }
    }
    footer {
    }
    section {
        &.tableCreation {
            display: block;
            float: left;
            width: 100%;
            padding: 0;
            overflow: auto;
            border: none;
            header {
                h1 {
                    font-size: 20px;
                    text-align: right;
                }
            }
        }
    }
}
