section {
    display: block;
    float: left;
    width: 100%;
    overflow: auto;
    header {
        h1 {
            font-size: 20px;
            margin:10px 0;
            padding: 5px 0 10px;
            text-align: right;
            border-bottom: 1px solid dodgerblue;
        }
    }
    &.table {
        table {
            display: table;
            width: 100%;
            thead {
                display: table-header-group;
                width: 100%;
                tr {
                    display: table-row;
                    width: 100%;
                    th {
                        display: table-cell;
                        height: 61px;
                        line-height: 20px;
                        text-align: right;
                        border-right: 1px solid dodgerblue;
                        border-bottom: 1px solid dodgerblue;
                        padding: 5px 10px;
                        cursor: pointer;
                        position: relative;
                        box-sizing: border-box;
                        &:first-child {
                            width: 10%;
                        }
                        &:last-child {
                            padding: 0;
                            border-right: none;
                        }
                        input {
                            display: block;
                            float: left;
                            box-sizing: border-box;
                            width: 100%;
                            height: 100%;
                            border-width: 1px 1px 0 0;
                            border-style: solid;
                            border-color: dodgerblue;
                            padding: 5px 10px;
                            text-align: right;
                        }
                        span {
                            display: block;
                            float: left;
                            line-height: 25px;
                            &.field-name {
                                width: 100%;
                                height: 25px;
                                display: block;
                                float: left;
                                text-align: right;
                            }
                        }
                    }
                }
            }
            tbody {
                width: 100%;
                tr {
                    display: table-row;
                    width: 100%;
                    &:first-child {
                        td {
                            padding: 0;
                            &:last-child {
                                padding: 5px 10px;
                            }
                            input {
                                &.pass {
                                    border: 1px solid green;
                                }
                                &.fail {
                                    border: 1px solid red;
                                }
                            }
                        }
                    }
                    td {
                        display: table-cell;
                        text-align: right;
                        height: 30px;
                        border-right: 1px solid dodgerblue;
                        border-bottom: 1px solid dodgerblue;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        &:first-child {
                            width: 5%;
                            border-left: 1px solid dodgerblue;
                        }
                        input {
                            display: block;
                            float: left;
                            height: 30px;
                            width: 96%;
                            box-sizing: border-box;
                            border: none;
                            text-align: right;
                            margin: 2%;
                            transition: all 0.5s ease;
                            border: 1px solid white;
                        }
                        a {
                            &.button {
                                display: block;
                                float: right;
                                width: 50%;
                                height: 30px;
                                background: dodgerblue;
                                border: 1px solid darkcyan;
                                border-radius: 10px;
                                text-align: center;
                                text-decoration: none;
                                line-height: 30px;
                                color: white;
                                &:hover {
                                    background: darkcyan;
                                }
                                &:active {
                                    background: darkgoldenrod;
                                }
                            }
                        }
                    }
                }
            }
            tfoot {
                display: table-footer-group;
                width: 100%;
                tr {
                    display: table-row;
                    width: 100%;
                    td {
                        display: table-cell;
                        text-align: right;
                        padding: 5px 10px;
                        border-top: 1px solid dodgerblue;
                        font-weight: bold;
                        cursor: pointer;
                        position: relative;
                        box-sizing: border-box;
                        &:first-child {
                            width: 5%;
                        }
                        span {
                            display: block;
                            float: left;
                            height: 100%;
                            line-height: 30px;
                            &.field-name {
                                width: 100%;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}