<section class="table">
  <header>
    <h1>Taulu {{tableName}}</h1>
  </header>
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th *ngFor="let column of columnNames">
          <app-field-properties *ngIf="column != 'id'" [fieldName]="column"></app-field-properties>
          <span class="field-name" (click)="sortBy($event, column)">{{column}}</span>
        </th>
        <th><input #columnName (blur)="alterColumn($event, columnName.value)" id="columnName" name="columnName" type="text" placeholder="✓ Sarake" /></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td *ngFor="let column of columnNames | slice : 1">
          <input (blur)="checkRegex($event, column)" class="{{column}}" id="{{column}}" name="{{column}}" type="text" placeholder="{{column}}" />
        </td>
        <td><a class="button" href="#" (click)="addCustomer($event)">✓</a></td>
      </tr>
      <tr *ngFor="let customer of customers;">
        <td *ngFor="let column of columnNames" (blur)="saveCell($event, customer, column)" (click)="makeEditable($event, customer)">{{customer[column]}}</td>
        <td><a class="button" href="#" (click)="removeCustomer($event, customer)">🗑</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td *ngFor="let column of columnNames">
          <span class="field-name" (click)="sortBy($event, column)">{{column}}</span>
        </td>
        <td>Toiminnot</td>
      </tr>
    </tfoot>
  </table>
</section>
