<section>
  <header>
    <h1>Tietokannant</h1>
    <div class="newDatabase">
      <label>Lisää uusi tietokanta:</label>
      <span #databaseName (click)="makeEditable($event)" class="databaseName"></span>
      <span class="button" (click)="createNewDatabase($event, databaseName)">🍀</span>  
    </div> 
  </header>
  <section [ngClass]="{ 'active': selectedDB === database.Database}" *ngFor="let database of databases">
    <a routerLink="/database/{{database.Database}}" routerLinkActive="active" class="selectDatabase" (click)="selectDatabase($event, database.Database)">{{database.Database}}</a>
    <span *ngIf="allowedDatabases(database.Database)" class="dropDatabase" (click)="dropDatabase($event, database.Database)">✗</span>
  </section>
</section> 
<app-tooltip *ngIf="showTooltip" (callbackEvent)="tooltipCallbackEvent($event)" [tooltipValue]="tooltipValue" [tooltipBody]="tooltipBody" [tooltipHeader]="tooltipHeader"></app-tooltip>
