section {
    display: block;
    float: left;
    width: 100%;
    header {
        display: block;
        float: left;
        width: 100%;
        height: 120px;
        h1 {
            display: block;
            float: left;
            width: 100%;
            font-size: 20px;
            border-bottom: 1px solid dodgerblue;
        }
        div {
            &.newDatabase {
                display: block;
                float: left;
                width: 250px;
                height: 30px;
                label {
                    display: block;
                    float: left;
                    width: 100%;
                }
                span {
                    display: block;
                    float: left;
                    height: 30px;
                    border: 1px solid dodgerblue;
                    line-height: 30px;
                    box-sizing: border-box;
                    &.databaseName {
                        width: 80%;
                        border-right: none;
                        padding: 5px 10px;
                        line-height: 20px;
                    }
                    &.button {
                        width: 20%;
                        text-align: center;
                        background: dodgerblue;
                        color: white;
                        border-color: darkcyan;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    section {
        display: block;
        float: left;
        width: 48%;
        height: 50px;
        margin: 0 2% 2% 0;
        border: 1px solid dodgerblue;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        &.active {
            background: dodgerblue;
            color: white;
            a {
                color: white;
            }
        }
        a,
        span {
            display: block;
            float: left;
            height: 100%;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
            text-decoration: none;
            color: dodgerblue;
            &.selectDatabase {
                width: 80%;
            }
            &.dropDatabase {
                width: 20%;
                background: dodgerblue;
                color: white;
                border-left: 1px solid white;
            }
        }
    }
}