nav {
    display: block;
    float: left;
    ul {
        display: block;
        float: left;
        margin: 0;
        padding: 10px;
        li {
            display: block;
            float: left;
            padding: 5px 30px;
            margin: 0 10px 0 0;
            list-style-type: none;
            position: relative;
            height: 30px;
            box-sizing: border-box;
            cursor: pointer;
            background: dodgerblue;
            border: 1px solid rgba(0,0,0,0.5);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-radius: 15% 35%;
            &:hover {
                background: darkcyan;
            }
            &:first-child {
                &:before {
                    content: "🏡";
                }
            }
            &:before,
            &:after {
                display: block;
                float: left;
                position: absolute;
                top: 0;
                width: 20px;
                height: 100%;
                line-height: 28px;
                text-align: center;
                color: white;
                font-size: 12px;
            }
            &:before {
                content: "🏭";
                left: 5px;
            }
            &:after {
                content: "📐";
                right: 5px;
            }
            a {
                display: block;
                float: left;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: white;
                span {
                    display: block;
                    float: left;
                    width: 100%;
                    height: 100%;
                    line-height: 18px;
                }
            }
        }
    }
}