<nav>
  <ul>
    <li *ngFor="let crumb of breadCrumbs" (click)="breadCrumbEvent($event, crumb.url, crumb.title)" routerLink="{{crumb.url}}" routerLinkActive="active">
      <a><span>{{crumb.title}}</span></a>
    </li>
  </ul>
</nav>
