  <section>
    <header>
      <h1>Taulun Indexit</h1>
    </header>
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Cardinality</th>
          <th>Collation</th>
          <th>Column_name</th>
          <th>Comment</th>
          <th>Index_comment</th>
          <th>Index_type</th>
          <th>Key_name</th>
          <th>Non_unique</th>
          <th>Null</th>
          <th>Packed</th>
          <th>Seq_in_index</th>
          <th>Sub_part</th>
          <th>Table</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let index of tableIndex">
          <td>{{index.Cardinality}}</td>
          <td>{{index.Collation}}</td>
          <td>{{index.Column_name}}</td>
          <td>{{index.Comment}}</td>
          <td>{{index.Index_comment}}</td>
          <td>{{index.Index_type}}</td>
          <td>{{index.Key_name}}</td>
          <td>{{index.Non_unique}}</td>
          <td>{{index.Null}}</td>
          <td>{{index.Packed}}</td>
          <td>{{index.Seq_in_index}}</td>
          <td>{{index.Sub_part}}</td>
          <td>{{index.Table}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Cardinality</td>
          <td>Collation</td>
          <td>Column_name</td>
          <td>Comment</td>
          <td>Index_comment</td>
          <td>Index_type</td>
          <td>Key_name</td>
          <td>Non_unique</td>
          <td>Null</td>
          <td>Packed</td>
          <td>Seq_in_index</td>
          <td>Sub_part</td>
          <td>Table</td>
        </tr>
      </tfoot>
    </table>
  </section>