section {
    display: block;
    float: left;
    width: 100%;
    overflow: auto;
    header {
        h1 {
            font-size: 20px;
            text-align: right;
            border-bottom: 1px solid dodgerblue;
        }
    }
    table {
        display: table;
        float: left;
        width: 100%;
        overflow: auto;
        padding: 0;
        box-sizing: border-box;
        thead {
            tr {
                th {
                    padding: 5px 10px;
                    border-top: 1px solid dodgerblue;
                    border-bottom: 1px solid dodgerblue;
                    border-right: 1px solid dodgerblue;
                    text-align: right;
                    &:first-child {
                        border-left: 1px solid dodgerblue;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 10px;
                    border-bottom: 1px solid dodgerblue;
                    border-right: 1px solid dodgerblue;
                    text-align: right;
                    &:first-child {
                        border-left: 1px solid dodgerblue;
                    }
                }
            }
        }
        tfoot {
            tr {
                td {
                    font-weight: bold;
                    padding: 5px 10px;
                    border-bottom: 1px solid dodgerblue;
                    border-right: 1px solid dodgerblue;
                    text-align: right;
                    &:first-child {
                        border-left: 1px solid dodgerblue;
                    }
                }
            }
        }
    }
}
