span {
    display: block;
    float: left;
    height: 100%;
    line-height: 25px;
    &.field-config {
        width: 100%;
        height: 25px;
        text-align: left;
    }
}
div {
    &.field-configurations {
        display: none;
        float: left;
        width: 100%;
        min-width: 150px;
        box-sizing: border-box;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 40px;
        background: white;
        border: 1px solid dodgerblue;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        &:after,
        &:before {
            position: absolute;
            left: 0;
            top: -11px;
            content: " ";
            display: block;
            float: left;
            left: 9px;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
        &:after {
            border-bottom: 10px solid white;
            top: -9px;
        }
        &:before {

            border-bottom: 10px solid dodgerblue;
        }
        &.show {
            display: block;
        }
        label {
            padding: 5px;
        }
        span {
            display: block;
            float: left;
            width: 100%;
            min-height: 30px;
            margin: 0 0 5px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid dodgerblue;
            line-height: 18px;
            font-size: 12px;
            text-align: right;
            &.field-regex {

            }
        }
    }
}
