<div class="field-configurations" [ngClass]="{'show': visible}">
  <label>Kentän regex</label>
  <span #fieldRegex class="field-regex" (blur)="saveCell($event)" (click)="makeEditable($event)">{{value}}</span>
</div>
<span class="field-config" (click)="showConfigs($event)">🎯</span>
