section {
    display: block;
    float: left;
    width: 100%;
    overflow: auto;
    header {
        display: block;
        float: left;
        width: 100%;
        height: 120px;
        h1 {
            display: block;
            float: left;
            width: 100%;
            font-size: 20px;
            border-bottom: 1px solid dodgerblue;
        }
        div {
            &.newTable {
                display: block;
                float: left;
                width: 250px;
                height: 30px;
                label {
                    display: block;
                    float: left;
                    width: 100%;
                }
                span {
                    display: block;
                    float: left;
                    height: 30px;
                    border: 1px solid dodgerblue;
                    line-height: 30px;
                    box-sizing: border-box;
                    &.tableName {
                        width: 80%;
                        border-right: none;
                        padding: 5px 10px;
                        line-height: 20px;
                    }
                    &.button {
                        width: 20%;
                        text-align: center;
                        background: dodgerblue;
                        color: white;
                        border-color: darkcyan;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}