<section>
    <header>
        <h1>Tietokannan taulut</h1>
        <div class="newTable">
            <label>Lisää uusi taulu:</label>
            <span #tableName (click)="makeEditable($event)" class="tableName"></span>
            <span class="button" (click)="createNewTable($event, tableName)">🍀</span>  
        </div>
    </header>
    <app-tables-table *ngFor="let table of foundTables" [tableName]="table"></app-tables-table>
    <div *ngIf="foundTables.length === 0">Ei tauluja</div>
</section>