<section class="tooltipWrapper">
  <section class="tooltip">
    <header>
      <h1>{{tooltipHeader}}</h1>
    </header>
    <div>
      {{tooltipBody}}
    </div>
    <footer>
      <a href="#" (click)="deny($event)">Ei</a>
      <a href="#" (click)="confirm($event)">Kyllä</a>
    </footer>
  </section>
</section>