section {
    &.tooltipWrapper {
        display: block;
        float: left;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: rgba(0,0,0,0.7);
        section {
            &.tooltip {
                position: absolute;
                left: 25%;
                right: 25%;
                top: 25%;
                bottom: 25%;
                width: 50%;
                height: 50%;
                background: white;
                header {
                    display: block;
                    float: left;
                    width: 100%;
                    height: 20%;
                    background: dodgerblue;
                    padding: 10px;
                    box-sizing: border-box;
                    h1 {
                        color: white;
                    }
                }
                div {
                    display: block;
                    float: left;
                    width: 100%;
                    height: 60%;
                    box-sizing: border-box;
                    padding: 20px;
                }
                footer {
                    display: block;
                    float: left;
                    width: 100%;
                    height: 20%;
                    background: dodgerblue;
                    padding: 10px;
                    box-sizing: border-box;
                    a {
                        display: block;
                        float: left;
                        width: 49%;
                        height: 100%;
                        box-sizing: border-box;
                        text-align: center;
                        color: dodgerblue;
                        line-height: 47px;
                        border: 1px solid darkcyan;
                        background: white;
                        text-decoration: none;
                        &:first-child {
                            margin-right: 1%;
                        }
                        &:last-child {
                            margin-left: 1%;
                        }
                        &:hover {
                            background: darkcyan;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}