section {
    display: block;
    float: left;
    width: 100%;
    overflow: auto;
    header {
        h1 {
            font-size: 20px;
            text-align: right;
            border-bottom: 1px solid dodgerblue;
        }
    }
    table {
        display: table;
        float: left;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        overflow: auto;
        thead {
            tr {
                th {
                    padding: 5px 10px;
                    border-top: 1px solid dodgerblue;
                    border-bottom: 1px solid dodgerblue;
                    border-right: 1px solid dodgerblue;
                    text-align: right;
                    &:first-child {
                        border-left: 1px solid dodgerblue;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 10px;
                    border-bottom: 1px solid dodgerblue;
                    border-right: 1px solid dodgerblue;
                    text-align: right;
                    &:first-child {
                        border-left: 1px solid dodgerblue;
                    }
                    span {
                        display: block;
                        float: right;
                        line-height: 30px;
                        height: 30px;
                        width: 60%;
                        box-sizing: border-box;
                    }
                    a {
                        display: block;
                        float: right;
                        width: 19%;
                        height: 30px;
                        margin: 0 1% 0 0;
                        border: 1px solid darkcyan;
                        text-align: center;
                        line-height: 30px;
                        text-decoration: none;
                        color: white;
                        background: dodgerblue;
                        box-sizing: border-box;

                    }
                }
            }
        }
        tfoot {
            tr {
                td {
                    font-weight: bold;
                    padding: 5px 10px;
                    border-bottom: 1px solid dodgerblue;
                    border-right: 1px solid dodgerblue;
                    text-align: right;
                    &:first-child {
                        border-left: 1px solid dodgerblue;
                    }
                }
            }
        }
    }
}
