<section>
  <header>
    <h1>Taulun {{tableName}} tiedot</h1>
  </header>
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>default</th>
        <th>extra</th>
        <th>field</th>
        <th>key</th>
        <th>null</th>
        <th>type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let description of tableDescriptions">
        <td>{{description.Default}}</td>
        <td>{{description.Extra}}</td>
        <td>
          <span>{{description.Field}}</span>
          <a href="#" (click)="showForreignKeys($event, tableName, description.Field)">🎶</a>
          <a href="#" *ngIf="description.Key != 'PRI' && description.Key != 'MUL'" (click)="addIndex($event, tableName, description.Field)">🌟</a>
        </td>
        <td>{{description.Key}}</td>
        <td>{{description.Null}}</td>
        <td>{{description.Type}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>default</td>
        <td>extra</td>
        <td>field</td>
        <td>key</td>
        <td>null</td>
        <td>type</td>
      </tr>
    </tfoot>
  </table>
</section>
